{% extends "global/Page.html" %}
{% load otree static %}


{% block title %}
<div class = "title">
    Stage 1: Observation of all sets of cards
</div>
{% endblock %}


{% block content %}

    <p style="background-color:LightGray;"> <font size="+2">Time Left:  <span style="color:red" id="time-left"></span>  seconds. </font></p>


<div class = "title">

</div>


<div class = "right_column">
    <br>
<font size="+1">
<b>The sender CANNOT see the three questions selected at this time. They will not see them until Stage 3. </b> <br>

    The three questions selected in this round are as follows: <br>

{% if group.random_first == 0 %}

<br>What's the background color of the <b>first</b> card?</br>

{% elif group.random_first == 1 %}

<br>What's the center shape of the <b>first</b> card?</br>

{% elif group.random_first == 2 %}

<br>What's the center letter of the <b>first</b> card?</br>

{% elif group.random_first == 3 %}

<br>What's the number of the <b>first</b> card?</br>

{% elif group.random_first == 4 %}

<br>What's the mathematical symbol of the <b>first</b> card?</br>

{% elif group.random_first == 5 %}

<br>What's the background color of the <b>second</b> card?</br>

{% elif group.random_first == 6 %}

<br>What's the center shape of the <b>second</b> card?</br>

{% elif group.random_first == 7 %}

<br>What's the center letter of the <b>second</b> card?</br>

{% elif group.random_first == 8 %}

<br>What's the number of the <b>second</b> card?</br>

{% elif group.random_first == 9 %}

<br> What's the mathematical symbol of the <b>second</b> card?</br>

{% elif group.random_first == 10 %}

<br>What's the background color of the <b>third</b> card?</br>

{% elif group.random_first == 11 %}

<br>What's the center shape of the <b>third</b> card?</br>

{% elif group.random_first == 12 %}

<br>What's the center letter of the <b>third</b> card?</br>

{% elif group.random_first == 13 %}

<br>What's the number of the <b>third</b> card?</br>

{% elif group.random_first == 14 %}

<br>What's the mathematical symbol of the <b>third</b> card?</br>

{% elif group.random_first == 15 %}

<br>What's the background color of the <b>fourth</b> card?</br>

{% elif group.random_first == 16 %}

<br>What's the center shape of the <b>fourth</b> card?</br>

{% elif group.random_first == 17 %}

<br>What's the center letter of the <b>fourth</b> card?</br>

{% elif group.random_first == 18 %}

<br>What's the number of the <b>fourth</b> card?</br>

{% else %}

<br>What's the mathematical symbol of the <b>fourth</b> card?</br>

{% endif %}

{% if group.random_second == 0 %}

<br>What's the background color of the <b>first</b> card?</br>

{% elif group.random_second == 1 %}

<br>What's the center shape of the <b>first</b> card?</br>

{% elif group.random_second == 2 %}

<br>What's the center letter of the <b>first</b> card?</br>

{% elif group.random_second == 3 %}

<br>What's the number of the <b>first</b> card?</br>

{% elif group.random_second == 4 %}

<br>What's the mathematical symbol of the <b>first</b> card?</br>

{% elif group.random_second == 5 %}

<br>What's the background color of the <b>second</b> card?</br>

{% elif group.random_second == 6 %}

<br>What's the center shape of the <b>second</b> card?</br>

{% elif group.random_second == 7 %}

<br>What's the center letter of the <b>second</b> card?</br>

{% elif group.random_second == 8 %}

<br>What's the number of the <b>second</b> card?</br>

{% elif group.random_second == 9 %}

<br> What's the mathematical symbol of the <b>second</b> card?</br>

{% elif group.random_second == 10 %}

<br>What's the background color of the <b>third</b> card?</br>

{% elif group.random_second == 11 %}

<br>What's the center shape of the <b>third</b> card?</br>

{% elif group.random_second == 12 %}

<br>What's the center letter of the <b>third</b> card?</br>

{% elif group.random_second == 13 %}

<br>What's the number of the <b>third</b> card?</br>

{% elif group.random_second == 14 %}

<br>What's the mathematical symbol of the <b>third</b> card?</br>

{% elif group.random_second == 15 %}

<br>What's the background color of the <b>fourth</b> card?</br>

{% elif group.random_second == 16 %}

<br>What's the center shape of the <b>fourth</b> card?</br>

{% elif group.random_second == 17 %}

<br>What's the center letter of the <b>fourth</b> card?</br>

{% elif group.random_second == 18 %}

<br>What's the number of the <b>fourth</b> card?</br>

{% else %}

<br>What's the mathematical symbol of the <b>fourth</b> card?</br>

{% endif %}

{% if group.random_third == 0 %}

<br>What's the background color of the <b>first</b> card?</br>

{% elif group.random_third == 1 %}

<br>What's the center shape of the <b>first</b> card?</br>

{% elif group.random_third == 2 %}

<br>What's the center letter of the <b>first</b> card?</br>

{% elif group.random_third == 3 %}

<br>What's the number of the <b>first</b> card?</br>

{% elif group.random_third == 4 %}

<br>What's the mathematical symbol of the <b>first</b> card?</br>

{% elif group.random_third == 5 %}

<br>What's the background color of the <b>second</b> card?</br>

{% elif group.random_third == 6 %}

<br>What's the center shape of the <b>second</b> card?</br>

{% elif group.random_third == 7 %}

<br>What's the center letter of the <b>second</b> card?</br>

{% elif group.random_third == 8 %}

<br>What's the number of the <b>second</b> card?</br>

{% elif group.random_third == 9 %}

<br> What's the mathematical symbol of the <b>second</b> card?</br>

{% elif group.random_third == 10 %}

<br>What's the background color of the <b>third</b> card?</br>

{% elif group.random_third == 11 %}

<br>What's the center shape of the <b>third</b> card?</br>

{% elif group.random_third == 12 %}

<br>What's the center letter of the <b>third</b> card?</br>

{% elif group.random_third == 13 %}

<br>What's the number of the <b>third</b> card?</br>

{% elif group.random_third == 14 %}

<br>What's the mathematical symbol of the <b>third</b> card?</br>

{% elif group.random_third == 15 %}

<br>What's the background color of the <b>fourth</b> card?</br>

{% elif group.random_third == 16 %}

<br>What's the center shape of the <b>fourth</b> card?</br>

{% elif group.random_third == 17 %}

<br>What's the center letter of the <b>fourth</b> card?</br>

{% elif group.random_third == 18 %}

<br>What's the number of the <b>fourth</b> card?</br>

{% else %}

<br>What's the mathematical symbol of the <b>fourth</b> card?</br>

{% endif %}

</font>

</div>



{% endblock %}



{% block scripts %}

<style>
    .otree-timer {
        display: none;
    }
</style>

 <script>
        let customTimerEle = document.getElementById('time-left');

        document.addEventListener("DOMContentLoaded", function (event) {
            $('.otree-timer__time-left').on('update.countdown', function (event) {
                customTimerEle.innerText = event.offset.totalSeconds;
            });
        });

    </script>

{% endblock %}



{% block styles %}


<style>

div.title {
    text-align: center;
    font-size: 30px;
    margin-bottom:10px;
    margin-top:-25px;
}



</style>

{% endblock %}

